<template>
  <div class="container" >
    <br>
  <b-button href="kittamate" variant="outline-light">Kitamate</b-button>
  <b-button href="Khongphak" variant="outline-light">Khongphak</b-button>
  <b-button href="Ratchanon" variant="outline-light">Ratchanon</b-button>
  
</div>
</template>

<style>
h1{
  width:100%
  font-size= 5rem;
  text-align:center
}

</style>

