<template>
  <div class="container">
    <h1>
     Kittamate
    </h1>
  </div>
</template>

<style>

h1{
margin-top: 5%;
  width:100%
  font-size= 5em;
  text-align:center;
  color: aliceblue
 
}
h3{
    text-align: center;
    color: aliceblue
}


</style>




