<template>
  <div >

    <h1>
      Khongphak Chaiphong
    </h1>
    <h3 >
        ID:6031305006 
        Portfolio
    </h3>


     <div>
    <b-img center src="https://picsum.photos/125/125/?image=58" v-bind="mainProps" rounded="circle" alt="Circle image"></b-img>
    </div>
    
    <div class="test">
   
     </div> 
  </div>
</template>

<style>
h1{
margin-top: 5%;
  width:100%
  font-size= 5em;
  text-align:center;
 
}
h3{
    text-align: center
}


</style>

